@import url('https://fonts.googleapis.com/css2? family= Beth+Ellen & family= Open+Sans:wght@300;400 & family= Poppins:wght@200;300;400 & família= Spectral:wght@500;600 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    
}